body{
    margin: 0;
    background-color: #092434;
    font-family: 'Roboto', sans-serif;
    
}

form {
    padding: 15px;
    width: 370px;
}

p  {
    text-align: center;
}

strong {
    color: tomato
}


label {
    color: black;
    
}

#tp {
    background-color: #092434;   
}

.logo img{
    max-width: 250px;
    width: 350%;
    margin: 0 auto;
    display: block;
}

.imagem2{
    border: 2px solid white;
}

.juntos{
    display: flex;
    
}

.textobox {
    
    font-size: 12px;
    margin: 2%;
    text-align: justify;
    color: grey;

}

.imgbox { 
    margin-top: 50px;
    justify-content: center;
    margin-left: 14%;


}

.textoprincipal h2 {
    margin-top: 26px;
    color: white;
    justify-content: center;
    margin-left: 14%;
}

/* code relacionado ao formulário */
.form1 {
    position: absolute;
    top: 200px;
    left: 1000px;
    width: 400px;
    margin: 2%; 

}

.textoformulario {
text-align: justify;
    color: white;
}

.formulario {
    background:#0f9ada;
    border: black solid 4px;
    border-radius: 10px;
}

.formulario input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0px;
    border-radius: 200px;
    border: 0px;
    padding: 5px 5px;
    box-shadow: inset 3px 1px 2px rgba(0, 0, 0, 60%);
    
}

.formulario input[type="email"]{
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0px;
    border-radius: 200px;
    border: 0px;
    padding: 5px 5px;
    box-shadow: inset 3px 1px 2px rgba(0, 0, 0, 60%)
}

.formulario select{
    width: 42%;
    box-sizing: border-box;
    margin: 5px 0px;
    border-radius: 200px;
    border: 0px;
    padding: 5px 5px;
    box-shadow: inset 3px 1px 2px rgba(0, 0, 0, 60%)
}


.formulario input[type="submit"]{
    font-size: 15px;
    font: bolder; 
    color: white;
    background-color: #092434;
    border-radius: 200px;
    border: 0px;
    width: 40%;
    display: block;
    margin: 30%;
    margin-top: 10%;
    padding: 15px;
    cursor: pointer;
}










